<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %} 
    <div class="container">
      <div class="jumbotron">
        <h2>关于</h2>
        <h3>关于本项目</h3>
        <span>由于2016年网易云音乐的API变化，由旧API解析出的mp3文件URL全部失效。因此我基于musicbox项目中封装的新版API制作了这个下载器，用于通过歌曲id解析及下载mp3文件。</span><br>
        <span>相关文档请移步<a href="https://github.com/darknessomi/musicbox/wiki">https://github.com/darknessomi/musicbox/wiki/</a></span>
        <h3>关于我</h3>
        <a href="http://i.nyan.im/">http://i.nyan.im</a>
        <h3>鸣谢</h3>
        <span><a href="https://github.com/darknessomi/musicbox">musicbox</a> 高品质网易云音乐命令行版本，简洁优雅，丝般顺滑，基于Python编写。</span><br>
        <span><a href="https://github.com/muzuiget/nmdown">nmdown</a> 批量下载网易云音乐的歌曲，支持专辑和歌单，也可以下载歌词，补全歌曲标签和替换成清晰封面。（原项目已被删除）</span>
        <h3>开放源代码</h3>
        <span>本项目源代码已开放在GitHub：<a href="https://github.com/hyriamb/nem-downloader">https://github.com/hyriamb/nem-downloader</a></span>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>

