    {% load staticfiles %}
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="{% static "dist/css/bootstrap-material-design.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "dist/css/ripples.min.css"%}">
    <link href="{% static "sticky-footer-navbar.css"%}" rel="stylesheet">
    <title>网易云音乐外链解析下载器</title>
    <style>
        body{font-family:"Roboto",等线,"Times New Roman",Arial;}
        div.song_cover{
            position:relative;
            left:10px;
            top:-80px;
            width:20%;
            height:20%;
        }
        div.song_info{
            position:relative;
            left:25%;
            top:30px;
        }
        div.panel-body{
            position:relative;
        }
    </style>
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">网易云音乐外链解析下载器</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">单曲</a></li>
            <li><a href="/playlist">歌单</a></li>
            <li><a href="/album">专辑</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">关于</a></li>
          </ul>
        </div>
      </div>
    </div>
    
